<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>vbit.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Binary trade on stock prices with Bitcoin">
    <meta name="author" content="Liam Hogan">

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/highstock.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//vbit.io:3000/socket.io/socket.io.js"></script>
    <script src="/assets/js/jquery.cycle.all.js"></script>
    <script src="/assets/js/jquery.timeago.js"></script>
    <script src="/assets/js/jquery.easing.1.3.js"></script>
    <script src="/assets/js/bootstrap-progressbar.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
       <link href="/main.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-progressbar-3.1.0.min.css" rel="stylesheet">
 
    <link rel="shortcut icon" href="/assets/ico/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->
    <script>
    var displaysymbols = ['GCJ14.CMX'];
    $(function() { 

  $('.keystones li').click(function(e) {
    e.preventDefault();
    var position = $(this).position();
    $('.glyph').css("left", position.left-80);
    var symbol = String($(this).attr('id'));
       displayOptions(symbol);
  });
    });
    

    </script>
</head>
<body>
<div class="globalheader">
  <div class="title">
    <div class="topcontainer">
        <!-- site title -->
      <button type="button" style="height: 31px;" class="btn btn-warning btnlogo">
         <span class="sitename" style="padding-bottom: 2px;"><span class="glyphicon glyphicon-arrow-up"></span><span class="glyphicon glyphicon-arrow-down"></span></span>
      </button>

      <div class="right">
      </div>

    </div>
  </div>  
  <div class="linktray" style="height: 30px;">
    <div class="container" style="padding: 0px;">
      <ul class="keystones">
        <li id="BTCUSD">BTC:<span class="keystoneBTCUSD"></span></l1>
        <li id="EURUSD">EUR:<span class="keystoneEURUSD"></span></li>
        <li id="GBPUSD">GBP:<span class="keystoneGBPUSD"></span></li>
        <li id="JPYUSD">JPY:<span class="keystoneJPYUSD"></span></li>
  <!--  <li id="^DJI"><a href="#">Dow:<span class="keystoneDOW"></span></l1> -->      
        <li id="^IXIC">Nasdaq:<span class="keystoneNASDAQ"></span></l1>
        <li id="^GSPC">S&amp;P 500:<span class="keystoneSP500"></span></l1>
        <li id="GCJ14.CMX">Gold:<span class="keystoneGOLD"></span></l1>
        <li id="GCJ14.CMX">Silver:<span class="keystoneSILVER"></span></l1>
        <li id="GLJ14.MYM">Oil:<span class="keystoneOIL"></span></l1>
      </ul>
    </div>
  </div> 

  <div class="accounttray">
    <div class="container">
      <ul>
        <li><a href="#">Account</a></l1>
        <li><a href="#">Preferences</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="financestray">
    <div class="container">
      <ul>
        <li><a href="#">Deposit</a></l1>
        <li><a href="#">Withdrawal</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Referrals</a></li>
      </ul>
    </div>
</div>


  <div class="announcesuccess">
    <div class="container">
      <ul>
        <li><a href="#">You won BTCUSD for m฿10</a></l1>
      </ul>
    </div>
  </div>

  <div class="announcedanger">
    <div class="container">
      <ul>
        <li><a href="#">You lost m฿5 on GOLD</a></l1>
      </ul>
    </div>
  </div>

</div>

<div class="container" style="padding: 4px 0px;">
  <div class="symbols"></div>

<div class="col1">

<div class="tradestable">
</div>

</div>
<div class="col2">

<!-- <div class="userblock">  
  <div class="row-fluid">
 <div class="span12">
  <div class="header">Experience and Statistics<span class="orange" style="float:right;"><i class="fa fa-star"></i> Level 1</span></div>
  <table class="table" id="alltrades">
    <tbody>
      <tr>
        <td style="width: 33%;"><i class="fa fa-adjust"></i> Ratio: <span class="green">2:1</span></td>
        <td style="width: 33%;"><i class="fa fa-tasks"></i> Percentage: <span class="green">75%</span></td>
        <td style="width: 33%;"><i class="fa fa-star-half-o"></i> Experience: <span class="orange">60</s</td>
      </tr>
      <tr>
        <td style="width: 33%;"><i class="fa fa-thumbs-up green"></i> Won: 2</td>
        <td style="width: 33%;"><i class="fa fa-thumbs-down red"></i> Lost: 1</td>
        <td style="width: 33%;"><i class="fa fa-thumbs-o-up"></i> Tied: 0</td>
      </tr>
      <tr>
        <td style="width: 33%;"><i class="fa fa-btc"></i> Won: m฿12.25</td>
        <td style="width: 33%;"><i class="fa fa-btc"></i> Lost: m฿3</td>
        <td style="width: 33%;"><i class="fa fa-btc"></i> Traded: m฿10</td>
      </tr>
  </tbody>
</table>
</div>
</div>
</div> -->

<div class="historictrades">

</div>

</div>

</div>

<!-- >placed at the end of the document so the pages load faster -->
<a href="https://github.com/bentbot/binarybtc"><img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/32/mustache.png" style="margin: auto; opacity: 0;display:block;"></a>
</body>
</html>
