<div class="globalheader">
  <div class="title">
    <div class="topcontainer">
        <!-- site title -->
      <button type="button" style="height: 31px;" class="btn btn-warning btnlogo">
         <span class="sitename" style="padding-bottom: 2px;"><span class="glyphicon glyphicon-arrow-up"></span><span class="glyphicon glyphicon-arrow-down"></span></span>
      </button>

      <div class="right">

      </div>

    </div>
  </div>  
  <div class="linktray" style="height: 30px;">
    <div class="container" style="padding: 0px;">
      <ul class="keystones">
        <li id="BTCUSD"><a href="/symbol/BTCUSD">BTC:<span class="keystoneBTCUSD"></span></a></l1>
        <li id="EURUSD"><a href="/symbol/EURUSD">EUR:<span class="keystoneEURUSD"></span></a></li>
        <li id="GBPUSD"><a href="/symbol/GBPUSD">GBP:<span class="keystoneGBPUSD"></span></a></li>
        <li id="JPYUSD"><a href="/symbol/JPYUSD">JPY:<span class="keystoneJPYUSD"></span></a></li>
  <!--  <li id="^DJI"><a href="#">Dow:<span class="keystoneDOW"></span></l1> -->      
        <li id="^IXIC"><a href="/symbol/^IXIC">Nasdaq:<span class="keystoneNASDAQ"></span></a></l1>
        <li id="^GSPC"><a href="/symbol/^GSPC">S&amp;P 500:<span class="keystoneSP500"></span></a></l1>
        <li id="GCJ14.CMX"><a href="/symbol/GCJ14.CMX">Gold:<span class="keystoneGOLD"></span></a></l1>
        <li id="GCJ14.CMX"><a href="/symbol/">Silver:<span class="keystoneSILVER"></span></a></l1>
        <li id="GLJ14.MYM"><a href="/symbol/GLJ14.MYM">Oil:<span class="keystoneOIL"></span></a></l1>
      </ul>
    </div>
  </div> 
<% if (user) { %>
  <div class="accounttray">
    <div class="container">
      <ul>
        <li><a href="#">Account</a></l1>
        <li><a href="#">Preferences</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="financestray">
    <div class="container">
      <ul>
        <li><a href="#">Deposit</a></l1>
        <li><a href="#">Withdrawal</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Referrals</a></li>
      </ul>
    </div>
</div>


  <div class="announcesuccess">
    <div class="container">
      <ul>
        <li><a href="#"></a></l1>
      </ul>
      <span class="label label-warning"></span>
    </div>
  </div>

  <div class="announcedanger">
    <div class="container">
      <ul>
        <li><a href="#"></a></l1>
      </ul>
      <span class="label label-warning"></span>
    </div>
  </div>
  <% } %>

</div>
